<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="/trippit_symfony/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="/trippit_symfony/web/css/style.css" rel="stylesheet" type="text/css">		
			
		<title>Mail</title>

	</head>
	<body>
		<div> {{ body }} </div>
		<br>
		<a href="http://localhost:8888/trippit_symfony/web/app_dev.php/giveadvice/{{ tokenNumber }}"><button class="button" type="submit">CONSIGLIA</button></a></td>
	</body>
</html>