{% extends "layout-base.html.twig" %}

{% block menuDropdown %}
		<ul class="dropdown-menu centerDropdown" aria-labelledby="dropdownMenu1">
			<li><a href="{{ path('user/login', { 'urlid': id }) }}">Accedi</a>
		</ul>
{% endblock %}

{% block main %}

		<div class="big-image container-fluid">
		    <div class="row">
		        <p>
		            <h1>Vorresti un consiglio <br> sul tuo prossimo viaggio?</h1>
		            <h2>Chiedi a un amico!</h2>
		        </p>
		        <div class="col-xs-12 col-sm-4 col-sm-offset-4 hidden-xs">
		            <a href="{{ path('user/login', { 'urlid': id }) }}"><button type="button" class="btn btn-primary btn-lg btn-block"><i class="material-icons md-48px">person</i>Accedi</button></a>
		        </div>
		    </div>
		</div>

		<div class="spacer container-fluid visible-xs-block">
		    <div class="row">
		    </div>
		</div>

		<div class="container-fluid visible-xs-block">
		    <div class="row">
		        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
		            <a href="{{ path('user/login', { 'urlid': id }) }}"><button type="button" class="btn btn-primary btn-block"><i class="material-icons md-48px">person</i>Accedi</button></a>
		        </div>
		    </div>
		</div>

		<div class="spacer container-fluid">
		    <div class="row">
		    </div>
		</div>

		<div class="container">
		    <div class="row">
		        <div class="col-xs-12 col-md-6">
		            <div class="block">
		                <img src="/trippit_symfony/web/img/trippit-img-london.jpg" alt="trippit image 2" class="full-width-image">
		            </div>
		        </div>
		        <div class="col-xs-12 col-md-6">
		            <div class="block">
		                <div class="separator"></div>  
		                <h2>Scegli la tua prossima meta</h2>
		                <p>Città, mare o monti? Scegli la prossima meta del tuo viaggio e indica il periodo in cui vorresti partire.</p>
		                <span class="text-link"><a>Inizia subito</a></span>
		            </div>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 col-md-6">
		            <div class="block">
		                <div class="separator"></div>  
		                <h2>Chiedi un consiglio ai tuoi amici</h2>
		                <p>Scopri subito chi fra i tuoi amici è già stato nei posti in cui vorresti andare e fatti dare un consiglio sulle cose più interessanti da fare e da vedere.</p>
		                <span class="text-link"><a>Accedi e inzia</a></span>
		            </div>
		        </div>
		        <div class="col-xs-12 col-md-6">
		            <div class="block">
		                <img src="/trippit_symfony/web/img/trippit-img-london.jpg" alt="trippit image 2" class="full-width-image">
		            </div>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-xs-12 col-md-6">
		            <div class="block">
		                <img src="/trippit_symfony/web/img/trippit-img-car.jpg" alt="trippit image 2" class="full-width-image">
		            </div>
		        </div>
		        <div class="col-xs-12 col-md-6">
		            <div class="block">
		                <div class="separator"></div>  
		                <h2>Preparati ad un viaggio unico</h2>
		                <p>Ora puoi partire con la tua guida personalizzata, piena solo di cose originali e interessanti per te.</p>
		                <span class="text-link"><a>Inizia subito</a></span>
		            </div>
		        </div>
		    </div>
		</div>

		<div class="spacer container-fluid">
		    <div class="row">
		    </div>
		</div>

		<div class="container-fluid">
		    <div class="col-xs-12">
		        <div class="separator"></div>  
		    </div>
		</div>

		<div class="spacer container-fluid">
		    <div class="row">
		    </div>
		</div>

		<div class="container-fluid">
		    <div class="row">
		        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
		            <h4>Registrati con Facebook e inizia subito</h4>
		            <a href="{{ path('user/login', { 'urlid': id }) }}"><button type="button" class="btn btn-primary btn-lg btn-block"><i class="material-icons md-48px">person</i>Accedi</button></a>
		        </div>
		    </div>
		</div>

		<div class="spacer container-fluid">
		    <div class="row">
		    </div>
		</div>

{% endblock %}