/* General */

* {
 margin:0;
}

html, body{
	height:100%;
}

body{
	font-family: 'Titillium Web', sans-serif;
	height:100%;
	font-size:16px;
	color:#333;
	font-weight:400;
}

img {
	max-width:100%;
}

h1{
	height:100%;
	font-weight:700;
	font-size:35px;
	color:#333;
}

h2{
	height:100%;
	font-weight:700;
	font-size:28px;
	margin: 0px;
	padding:20px 0;
}

h3{
	height:100%;
	font-weight:700;
	font-size:21px;
	color:#333;
	text-align:center;
}

h4{
	height:100%;
	font-weight:700;
	font-size:18px;
	color:#35b6c5;
	text-transform:uppercase;
	text-align:center;
}

h5{
	height:100%;
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:1.5;
}

h6{
	height:100%;
	font-weight:700;
	font-size:16px;
	color:#333;
	text-transform:uppercase;
	margin-top:20px;
    margin-bottom:5px;
}

p{
	height:100%;
	font-size:16px;
	color:#333;
	font-weight:400;
	margin:0;
	padding:0;
	border:0;
}

a{
	height:100%;
	font-weight:700;
	font-size:16px;
	color:#e78000;
}
a:hover{
	color:#e78000;
	text-decoration:underline;
	cursor:pointer;
}

.material-icons{
	color:white;
	font-size:26px;
	vertical-align:middle;
	display:inline-block;
}


/* Navbar */

.header {
	-webkit-box-shadow:0px 2px 1px 0px rgba(51,3,4,0.5);
	-moz-box-shadow:0px 2px 1px 0px rgba(51,3,4,0.5);
	box-shadow:0px 2px 1px 0px rgba(51,3,4,0.5);
	border:0px;
	border-radius:0px;
	background-color:#35b6c5;
	padding:0px;
	border:0px;
	margin:0px ;
	height:58px;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	width:100%;
}

.nav-bar .logo {
 	padding-left:15px;
}

.nav-bar .logo > img {
 	padding-top:15px;
 	height:50px;
}

#solo{
 	padding-left: 0;
}

#solo img{
	margin:0 auto;
 	display:block;
}

.fb-login-button {
	display:block;
}

.nav-bar .dropdown {
	float:right;
	height:58px;
}

.nav-bar #dropdownMenu1 {
	border:0px;
	background-color:transparent;
	height:58px;
}

.nav-bar #dropdownMenu1:hover {
  	opacity:0.8;
  	transition:opacity .25s ease;
	-webkit-transition:opacity .25s ease;
	-moz-transition:opacity .25s ease;
}

.nav-bar .dropdown:hover {
  	background-color:rgba(51,3,4,0.2);
}

.nav-bar .dropdown-menu {
	background-color:#333;
	border-radius:1px;
	text-align:right;
	min-width:110px;
}

.dropdown .open {
	float:left;
}

.nav-bar .dropdown-menu>li>a {
    display:block;
    padding:5px 20px;
    clear:both;
    font-weight:400;
    line-height:1.42857143;
    color:white;
    white-space:nowrap;
}

.nav-bar .dropdown-menu>li>a:hover,
.nav-bar .dropdown-menu>li>a:active,
.nav-bar .dropdown-menu>li>a:focus {
    background-color:rgba(255,255,255,0.1);
}

.nav-bar .dropdown-menu .divider {
    height:1px;
    margin:5px 0;
    overflow:hidden;
    background-color:#737373;
}

.imgStatusLogged {
	width:40px;
	height:40px;
	object-fit:cover;
	border-radius:50%;
	-webkit-box-shadow:0px 3px 2px 0px rgba(0,0,0,0.3);
	-moz-box-shadow:0px 3px 2px 0px rgba(0,0,0,0.3);
	box-shadow:0px 3px 2px 0px rgba(0,0,0,0.3);
}

/* Footer */

.footer {
	font-weight:400;
	background-color:#333;
	text-align:center;
	color:#e6e6e6;
	font-size:11px;
	letter-spacing:1px;
	text-decoration:none;
	padding-top:15px;
	padding-bottom:5px;
	z-index:-1;
}

a.footer {
   color:#fff;
}

a.footer:hover {
    text-decoration:underline;
    color:#fff;
}   

.footer-text {
	text-transform:uppercase;
}

a.footerGoogle {
	background-image:url('../img/social-google.png');
	height:30px;
	width:30px;
	margin:15px;
	background-size:cover;
	display:inline-block;
}

a.footerGoogle:hover {
	background-image:url('../img/social-google-hover.png');
	height:30px;
	width:30px;
	margin:15px;
	background-size:cover;
	display:inline-block;
}

a.footerFacebook {
	background-image:url('../img/social-facebook.png');
	height:30px;
	width:30px;
	margin:15px;
	background-size:cover;
	display:inline-block;
}

a.footerFacebook:hover {
	background-image:url('../img/social-facebook-hover.png');
	height:30px;
	width:30px;
	margin:15px;
	background-size:cover;
	display:inline-block;
}

a.footerTwitter {
	background-image:url('../img/social-twitter.png');
	height:30px;
	width:30px;
	margin:15px;
	background-size:cover;
	display:inline-block;
}

a.footerTwitter:hover {
	background-image:url('../img/social-twitter-hover.png');
	height:30px;
	width:30px;
	margin:15px;
	background-size:cover;
	display:inline-block;
}

.separator{
	width:100%;
	display:block;
	height:1px;
	background:#595959;
	margin:0px 0px;
}

.logo-footer> img{
	height:25px;
	margin:15px;
}

/* Nuovo sticky footer, senza fixed height */
.page-wrap {
  min-height:100%;
  height:auto !important;
  height:100%;
}


/* Buttons */

.btn-group-lg>.btn, .btn-lg {
    padding:10px 16px;
    font-size:18px;
    line-height:1.3333333;
    border-radius:1px;
    border:0px;
    text-align:center;
}
.btn-block {
    display:block;
    width:100%;
    margin:30px 0px;
}

/*
.btn-primary, .btn-primary:visited {
    color:#fff;
    background-color:#e78000;
    text-transform:uppercase;
    text-decoration:none;
    outline:none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color:#fff;
	text-decoration:none;
    background-color:#ce7301;
}
*/

.btn-large {
	color:#fff;
    background-color:#e78000;
    font-size:18px;
    font-weight:400;
    text-transform:uppercase;
    width:100%;
    height:50px;
    border:none;
}

.btn-large:hover {
	text-decoration:none;
    background-color:#ce7301;
}

.btn-login a {
	color:#fff;
	font-weight:400;
	text-decoration:none;
}

.btn-login {
	color:#fff;
    background-color:transparent;
    text-transform:uppercase;
    text-decoration:none;
    border:1px solid transparent;
    border-color:#fff;
    width:100%;
    height:45px;
    border-radius:1px;
    font-weight:400;
}

.btn-login:hover, .btn-login:focus, .btn-login:visited {
	color:#fff;
    background-color:rgba(51,3,4,0.5);
    border:1px solid transparent;
    border-color:#fff;
}

.btn-login a {
	color:#fff;
	font-weight:400;
	text-decoration:none;
}

.dropup {
	position:absolute;
    bottom:0;
    right:0;
}

.affix {
    z-index:999;
}

.btn.btn-default {
	color:#fff;
	background-color:rgba(255,255,255,0.4);
    border:none;
    border-radius:1px;
    padding:0;
    margin:0;
	padding:5px;
    border-radius:1px;
}

.facebook-login {
	background-color:transparent;
    border:1px solid transparent;
    border-color:#fff;
    border-radius:1px;
    width:100%;
    padding:15px;
    display:block;
    margin:0 auto;
}

a.facebook-login {
	color:#fff;
	font-weight:400;
	font-size:18px;
    text-align: center;
    text-transform:uppercase;
    text-decoration:none;
}

.facebook-login:hover {
    background-color:rgba(51,3,4,0.5);
}


.navbar-button {
    color:#fff;
    font-weight:400;
    background-color:transparent;
    text-transform:uppercase;
    border:1px solid transparent;
    border-color:#fff;
    border-radius:1px;
    margin-right:15px;
}

.navbar-button:hover {
    background-color:rgba(51,3,4,0.2);
}

.button {
    color: #fff;
    background-color: #e78000;
    text-transform: uppercase;
    text-decoration: none;
    border:0px solid transparent;
    border-radius:1px;
    font-weight:400;
    font-size:14px;
    min-height:30px;
    min-width:80px;
    float:right;
    padding:3px 10px;
}

.button:hover {
    background-color:rgba(51,3,4,0.5);
    text-decoration:none;
}

button.btn-large {
	padding:0;
}

button.btn.btn-link,
button.btn.btn-link:hover{
	font-size:14px;
	font-weight:400;
	text-decoration:underline;
	text-transform:uppercase;
	text-align:center;
	display:block;
	margin:0 auto;
}


/* Form */

input, input[type="text"], input[type="password"] textarea, select, select[name="periods"]{
	display:block;
	width:100%;
	/*height:50px;*/
	margin:0 auto;
	padding:0 10px;
	font:inherit;
	background-color:#e6e6e6;
	border-radius:1px;
	-webkit-border-radius:1px;
	/*-webkit-appearance: none;*/
	border:0;
  	-webkit-box-sizing:border-box; /* For legacy WebKit based browsers */
   	-moz-box-sizing:border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing:border-box;
}

input[type="radio"], input[type="checkbox"] {
	display:inline-block;
	width:15px;
	height:15px;
	margin-right:5px;
	margin-bottom:15px;
}

.form-ask {
	padding-top:25px;
}

.form-ask h6 {
	text-transform:none;
	font-weight:400;
	font-size:12px;
	margin-top:0px;
	margin-bottom:0px;
}

.form-ask h5 {
	text-transform:none;
	color:#333;
	font-weight:700;
	text-align:left;
	margin-top:0px;
	margin-bottom:10px;
}

.form-ask h3 {
	text-transform:none;
	font-weight:400;
	margin-top:0px;
	margin-bottom:20px;
}

.form-ask h2 {
	padding:0;
	text-align:center;
}

.form-ask .block .separator {
	width:100%;
	display:block;
	margin:10px 0;
}

.form-ask .btn,
.form-ask .btn:hover {
	color:#e78000;
}

.form-ask input[type="text"],
.form-ask input[type="password"],
.form-ask input[type="text-box"],
.form-ask textarea,
.form-ask select  {
	margin-top:5px;
	width:100%;
}

.form-ask textarea {
	height:100px;
	margin-bottom:30px;
	margin-top:10px;
}

.form-ask input[type="submit"] {
  background-color: #e78000;
  border:0px;
  border-radius:1px;
  color:#fff; 
  font-weight:400;
  text-transform: uppercase;
  padding:0 15px;
  height:35px;
  margin:0 auto;
}

#form_advice {
	margin-bottom:0px;
}

.add-trip label {
	display:none;
}

#pac-input, 
#form_day, 
#form_note {
  background-color:#e6e6e6;
  border:0px;
  border-radius:1px;
  color:#000; 
  font-weight:400;
  padding:5px;
  height:35px;
  width:100%;
}

#form_note {
  height:60px;
  margin-top:2px;
}

#form_save {
  background-color:#e78000;
  border:0px;
  border-radius:1px;
  color:#fff; 
  font-weight:400;
  text-transform:uppercase;
  padding:0 15px;
  height:35px;
  width:100%;
  margin-top:15px;
}

#form_save:hover,
#form_save:focus,
#form_save:active {
	background-color:#ce7301;
	outline:none;
}

.form-ask input[type="submit"]:hover, 
.form-ask input[type="submit"]:focus, 
.form-ask input[type="submit"]:active {
	background-color:#ce7301;
	outline:none;
}

#submit {
  background-color: #e78000;
  border:0px;
  border-radius:1px;
  color:#fff; 
  font-weight:400;
  text-transform: uppercase;
  padding:0 15px;
  height:35px;
  margin:0 auto;
}

#submit:hover, #submit:focus, #submit:active {
	background-color:#ce7301;
	outline:none;
}

/* Flash messages */

.notice p{
	border:1px solid;
	border-color:green;
	color:green;
	font-weight:700;
	padding:0 15px;
	margin:0 15px;
}

/* Content */

.first {
	margin-top:100px;
}

.first .separator{
	margin:5px 0px;
}

.spacer {
	background-color:transparent;
	height:75px;
}

.big-image {
	background-image:url('../img/trippit-big-img.jpg');
	background-size:cover;
	background-position:center 80%;
	padding:75px 15px;
}

.big-image p{
	padding-bottom:25px;
}

.big-image h1{
	font-size:35px;
	color: #fff;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
}

.big-image h2{
	font-size: 28px;
	color:#fff;
	font-weight:400;
	text-align:center;
}

.block {
	text-align: left;
	color:#333;
	margin:15px 15px;
}

.block .separator {
	width:100%;
	display:block;
	height:1px;
	background:#333;
	margin:5px 0px;
}

.login {
	height:100vh;
	min-height:100%;
	background-color:#0455a6;
	padding-top:200px;
}

.block h3 {
	text-align:left;
}

.circle-cropping {
	margin:0 auto;
	width:80%;
	float:none;
}

.img-circle {
	display:block;
	width:150px;
	height:150px;
	object-fit:cover;
	border-radius:50%;
	margin:0 auto 30px;
	-webkit-box-shadow:0px 3px 2px 0px rgba(0,0,0,0.3);
	-moz-box-shadow:0px 3px 2px 0px rgba(0,0,0,0.3);
	box-shadow:0px 3px 2px 0px rgba(0,0,0,0.3);
}

.add-trip {
	margin:50px auto;
    background:#333;
    padding:25px;
    overflow:hidden;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
}

.add-trip h4 {
	margin-bottom:20;
}

#accordion{
	padding:40px 0px;
}

#accordion .material-icons {
	margin-top:10px;
}

#accordion h3 {
	font-weight:400;
	color:#fff;
	font-size:24px;
	margin:5px 0px 0px 0px;
	text-align:left;
}

#accordion h6 {
	font-weight:700;
	padding:5px 15px;
	margin:0px;
	text-align:left;
}

#accordion input {
	display:none;
}

#accordion label {
	background:#35b6c5;
	border-radius:1px;
	cursor:pointer;
	display:block;
	margin-bottom:1px;
	padding:5px 15px;
	z-index:20;
}

#accordion label:hover {
	background:#2a8a95;
}

#accordion label p {
	color:#fff;
	text-transform:uppercase;
	font-size:12px;
	text-align:left;
}

#accordion input:checked + label {
	background:#2a8a95;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: white;
	margin-bottom:0;
}

#accordion article {
	background: #fff;
	height:0px;
	overflow:hidden;
	z-index:10;
}

#accordion article a {
	font-weight:400;
	margin:10px 10px;
	text-align:right;
}

#accordion article p {
	padding:5px 15px;
	border-top:5px;
}

#accordion input:checked ~ article {
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
	height:auto;
	margin-bottom:5px;
}

#formPlanner label {
	color:#e78000;
}

label .material-icons:hover, .material-icons:focus {
	color:#333;
}

article .spacer {
	height:5px;
}

article .separator {
	background:#e6e6e6;
}

.control-label {
	text-align:left;
    font-size:14px;
    color:#333;
	font-weight:400;
}

.form-group-lg .form-control {
    height:40px;
    padding:10px 10px;
    font-size:16px;
    line-height:1.3333333;
    border-radius:1px;
	margin:10px 0px;
}

.form-horizontal .form-group {
	margin:10px 0px;
}



/* Tabella riepilogo dati */

table {
	width:100%;
}

tr {
	border-top:1px solid black;
	border-bottom:1px solid black;
}

tr:hover{
    background-color:#e6e6e6;
}
	
td {
	padding:10px 20px 10px 0px;
	font-size: 16px;
}

td.nome {
	font-weight: 700;
	font-size: 16px;
}

td.mail {
	color:#e78000;
	font-size: 16px;
}
	
.box-mete {
	margin-bottom:50px;
	margin-top:3px;
}

.intestazione {
	margin-bottom:15px;
	font-weight: 700;
}	

.immagine {
	height:30px;
	width:30px;
	object-fit:cover;
	border-radius:100%;
}

button.logout {
	float:right;
	margin-top:15px;
	background-color:transparent;
	color:#fff;
	border:1px solid #fff;
	border-radius:3px;
	font-weight:400;
	padding:3px 15px;
}

/* Colonna mete */

a.list-group-item-success, button.list-group-item-success {
	color: white;
	background-color:#333333;
	border-bottom:1px solid white;
	border-top:1px solid white;
	margin-left:-5px;
}

.list-group-item {
	background-color: #e6e6e6;
	border-bottom:1px solid #333333;
	border-top:1px solid #333333;
}

p.num-persone {
	margin:0px;
	font-weight: 400;
	font-size:12px;
}	

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
	border-left:8px solid #44b5c7;
	color: #555;
	text-decoration: none;
	background-color: #f5f5f5;
}

a.list-group-item-success:focus, a.list-group-item-success:hover, button.list-group-item-success:focus, button.list-group-item-success:hover {
	border-left:8px solid #44b5c7;
	color:white;
	background-color:#434142;
}
	
i.freccetta {
	float:right;
}
	
i.freccetta-periodi {
	float:right;
	color:#555;
}
	
li.list-group-item {
	padding:7px 15px;
	font-size:13px;
}

.list-group-item:first-child {
	border-top:1px solid white;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.list-group-item:last-child {
	border-bottom:1px solid white;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

p.num-persone-totali {
	color:#fff;
}

p.num-persone {
	color:#333;
}

.centrato{
	text-align:center;
}

label {
	font-weight:400;
	padding-top:15px;
}

/* Map */

#map {
	height:380px;
	margin-top:55px;
	margin-bottom:35px;
}


/* Mobile */

@media screen and (max-width: 480px) {
    .big-image p{
		padding:30px;
	}
    .full-width-image {
        display:none;
    }
	.spacer {
		height:25px;
	}
	.block {
		margin:0px;
	}
	.block .separator{
		margin:25px 0px 10px 0px;
	}
	.first .separator{
		margin:5px 0px;
	}
	.first {
		margin-top:80px;
	}
	.form-horizontal .form-group-lg .control-label {
	    padding-top:7px;
	    margin-bottom:10px;
	    text-align:left;
	    font-size:16px;
	    color:#333;
	}
	.col-xs-12 .control-label {
	    border:0px;
	    margin:0px;
	    padding:0px;
	}
	.form-ask {
		margin-right:0px;
	}

	.blog-main {
		margin-left:15px;
		margin-right:15px;
	}

	.tips {
		display:none;
	}
	.dropdown-menu {
		position:absolute;
		right:50;
	}
}

@media screen and (min-width: 768px){
	.form-horizontal .form-group-lg .control-label {
	    padding-top:7px;
	    margin-bottom:10px;
	    text-align:left;
	    font-size:16px;
	    color:#333;
	}
	.col-xs-12 .form-horizontal {
	    border:0px;
	    margin:0px;
	    padding:0px;
	}
	.form-horizontal .form-group-lg .control-label {
		margin-bottom:0px;
	}
	#accordion h3 {
		padding-left:-15px;
	}
	input {
		margin-left:0px;
	}
	.affix {
	    position:fixed;
	}
}

@media screen and (max-width: 768px){

	.sidebar-module-inset .img-circle {
		display:none;
	}
}

/* Panoramio */

.panoramio{
	padding-top:10px;
}

.panoramio-wapi-photolist {
	margin:0 auto;
}

.panoramio-wapi-photolist .panoramio-wapi-images{
    background-color:transparent;	
}

.panoramio-wapi-wrapper-div:hover {
	border-color:#fff!important;
}

.panoramio-wapi-tos{
	background-color:#35b6c5 !important;
}

.panoramio-wapi-tos:active{
	background-color:none !important;
}

.panoramio-wapi-photolist .panoramio-wapi-loaded-img {
	position: relative;
	left: 0px !important;
}

div.panoramio-wapi-images {
	padding:0px !important;
}

#accordion input:checked + label div.panoramio-wapi-tos, 
#accordion label:hover .panoramio-wapi-tos {
	background-color:#2a8a95 !important;
}

.panoramio-wapi-tos * {
	color:white!important;
	font-family: 'Titillium Web', sans-serif!important;
	font-size:12px!important;
	color:#fff!important;
	letter-spacing:1px;
}



/* Trip details page */

.big-image-trip {
	background-image:url('../img/trippit-big-img-trip.jpg');
	background-size:cover;
	background-position:center 35%;
	padding:58px 15px 75px 15px;
	height:400px;
	position:relative;
}

/* Main column and sidebar layout */

.blog-main {
	font-size:18px;
	line-height:1.5;
}

/* Sidebar modules for boxing content */

.sidebar-module {
	padding:15px;
	margin:0 -15px 15px;
}

.sidebar-module .separator{
	background-color:#fff;
	opacity:0.15;
}

.sidebar-module .material-icons:hover {
	color:#e78000;
}

.sidebar-module h6 {
	text-transform:uppercase;
	text-align:left;
}

.sidebar-module-inset {
	margin:0 15px;
	padding:15px;
	background-color:rgba(51,51,51,0.8);
	min-height:342px;
	position:relative;
}

.sidebar-module-inset .col-xs-12 {
	padding:5px 0;
}

.sidebar-module-inset .img-circle {
	float:left;
}

.sidebar-module-inset h3 {
	font-weight:400;
	color:#fff;
	font-size:40px;
	text-align:left;
}

.sidebar-module-inset p {
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
	text-align:left;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
	margin-bottom:0;
	color:#fff;
}

.sidebar-delete .material-icons {
	color:#fff;
	padding:5px;
	color:#fff;
	background-color:rgba(255,255,255,0.4);
    border-radius:1px;
    position:absolute;
    bottom:0;
    left:0;
}

.sidebar-module .dropdown-menu {
	padding:0 15px;
	min-width:300px;
	border-radius:1px;
	text-transform:uppercase;
	font-size:12px
}

.tips {
	margin:0 15px;
	background-color:#333;
	height:100%;
}

.tips h4 {
	text-align:left;
	color:#fff;
	opacity:0.4;
}

.tips h6,
.tips p {
	color:#fff;
}

/* Pagination */

.pager {
	margin-bottom:60px;
	text-align:left;
}

.pager > li > a {
	width:140px;
	padding:10px 20px;
	text-align:center;
	border-radius:30px;
}

.small > li > a {
	font-size:12;
	width:100px;
	padding:5px 20px;
	border-radius:1px;
	font-size:12px;
	border:none;
	text-transform:uppercase;
	background-color:#e78000;
	color:#fff;
}

.small:hover > li > a {
	background-color:#ce7301;
}

/* Blog posts */

.blog-post {
	margin-bottom:60px;
}

.blog-post h4{
	display:inline-block;
}

.blog-main .material-icons {
	color:#fff;
}

.blog-main .material-icons:hover {
	opacity:0.5;
}

.blog-main #accordion {
	text-align:center;
}

.blog-post .material-icons {
	color:#35b6c5;
}

.blog-post .material-icons:hover {
	opacity:0.5;
}

.blog-post-title {
	margin-bottom:5px;
	font-size:40px;
}

.blog-post-meta {
  	margin-bottom:16px;
  	color:#999;
}